@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* * 
{
  scrollbar-width: thin;
  scrollbar-color: rgba (150, 150, 150, 0.5) transparent;
}
*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: rgba (150, 150, 150, 0.5);
  border-radius: 20px;
  border: transparent;
} */

header
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo
{
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}

.toggle
{
  position: relative;
  width: 60px;
  height: 60px;
  background: url("https://i.ibb.co/HrfVRcx/menu.png");
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
}
.toggle.active
{
  background: url("https://i.ibb.co/rt3HybH/close.png");
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
  cursor: pointer;
}
.showcase
{
  display: flex;
  position: absolute;
  right: 0;
  width: 100vw;
  min-height: 100vh;
  padding: 100px;
  justify-content: space-between;
  align-items: center;
  background: #111;
  transition: 0.5s;
  z-index: 2;
}
.showcase.active
{
  right: 300px;
}

.showcase video
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}
.overlay
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #03a9f4;
  mix-blend-mode: overlay;
}

.text
{
  position: relative;
  z-index: 10;
}

.text h2
{
  font-size: 4em;
  font-weight: 800;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}

.text h3
{
  font-size: 4em;
  font-weight: 700;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}

.text p
{
  font-size: 1.3em;
  color: #fff;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
}

.text a
{
  display: inline-block;
  font-size: 1em;
  background: #fff;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  color: #111;
  letter-spacing: 2px;
  transition: 0.2s;
}

.text a:hover
{
  letter-spacing: 6px;
}



.options
{
  width: 400px;
  position: relative;
  z-index: 10;
  top: 0px;
  right: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}


.options li
{
  list-style: none;
  color: black; 
  border: 2px solid #ffffff;
  border-radius: 12px;
  width: 150px;
  height: 100px;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.options li a
{
  display: flex;
  /* margin-right: 20px; */
  /* margin-top: 15px; */
  transform: scale(0.5);
  transition: 0.5s;
  font-size: 2em;
  background: transparent;
  padding: 32px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  color: rgb(255, 255, 255);
  letter-spacing: 2px;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-content: center;
}

.options li a:hover
{
  transform: scale(0.5) translateY(-10px);
  letter-spacing: 6px;
  padding: 30px;
}


.menu
{
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu ul
{
  position: relative;
}
.menu ul li
{
  list-style: none;
}
.menu ul li a
{
  text-decoration: none;
  font-size: 24px;
  color: #111;
}
.menu ul li a:hover
{
  color: #03a9f4; 
}

@media (max-width: 985px)
{
  .showcase header
  {
    padding: 40px;
  }
  .text h2
  {
    font-size: 3em;
  }
  .text h3
  {
    font-size: 2em;
  }
}

/* -------------------------------------------------------------------------- */
 

@media (max-width: 800px) {
  .showcase
  {
    display: flex;
    position: absolute;
    right: 0;
    width: 100vw;
    min-height: 100vh;
    padding-top: 80px;
    justify-content: center;
    align-items: center;
    background: #111;
    transition: 0.5s;
    z-index: 2;
    flex-direction: column;
  }

  .options
  {
    width: 150px;
    position: relative;
    z-index: 10;
    top: 7vh;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
  }
  
  
  .options li
  {
    list-style: none;
    color: black; 
    border: 2px solid #ffffff;
    border-radius: 12px;
    width: 150px;
    height: 100px;
    justify-content: center;
    align-items: center;
    margin: 10px;
  }
  
  .options li a
  {
    display: flex;
    /* margin-right: 20px; */
    /* margin-top: 15px; */
    transform: scale(0.5);
    transition: 0.5s;
    font-size: 2em;
    background: transparent;
    padding: 32px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content: center;
  }
  
  .options li a:hover
  {
    transform: scale(0.5) translateY(-10px);
    letter-spacing: 6px;
    padding: 30px;
  }

  header
  {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 50px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header .logo
  {
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
  }

  .text
  {
    position: relative;
    z-index: 10;
    text-align: center;
    justify-content: center;
    top: 5vh;
  }
  
  .text h2
  {
    font-size: 3em;
    font-weight: 800;
    color: #fff;
    line-height: 1em;
    text-transform: uppercase;
    top: 8vh;
  }
  
  .text h3
  {
    font-size: 3em;
    font-weight: 700;
    color: #fff;
    line-height: 1em;
    text-transform: uppercase;
  }
  
  .text p
  {
    font-size: 1.3em;
    color: #fff;
    margin: 20px 0;
    font-weight: 400;
    max-width: 700px;
    top: 12vh;
  }
  
  .text a
  {
    display: inline-block;
    font-size: 1em;
    background: #fff;
    padding: 0px 0px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    margin-top: 10px;
    color: #111;
    letter-spacing: 2px;
    transition: 0.2s;
  }
  
  .text a:hover
  {
    letter-spacing: 6px;
  }


}