.hero {
    grid-area: hero;
    display: flex;
    justify-content: center;
    background: url("../../assets/images/squid/hero21.jfif");
    height: 575px;
    background-position: center-top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    align-items: flex-end;
}

/* ------------------------------------------------- */

* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}


/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}



/* ------------------------------------- */

.squidPicture1 {
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  height: 250px;
  width: auto;
  background-image: url("../../assets/images/squid/main.jpg");
  justify-content: center;
  background-position: center;
  padding-bottom: 20px;
  margin-bottom: 25px;
}

.squidPic1 {
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  height: 250px;
  width: auto;
  background-image: url("../../assets/images/squid/1.png");
  justify-content: center;
  background-position: center;
}



.squidPic2 {
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  height: 250px;
  width: auto;
  background-image: url("../../assets/images/squid/2.png");
  justify-content: center;
  background-position: center;
}

.squidPic3 {
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  height: 250px;
  width: auto;
  background-image: url("../../assets/images/squid/3.jpg");
  justify-content: center;
  background-position: center;
}

.squidPic4 {
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  height: 250px;
  width: auto;
  background-image: url("../../assets/images/squid/4.jpg");
  justify-content: center;
  background-position: center;
}

.squidPic5 {
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  height: 250px;
  width: auto;
  background-image: url("../../assets/images/squid/5.jpg");
  justify-content: center;
  background-position: center;
}

.squidPic6 {
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  height: 250px;
  width: auto;
  background-image: url("../../assets/images/squid/6.png");
  justify-content: center;
  background-position: center;
}