.footer {
    display: flex;
    grid-area: footer;
    height: 150px;
    width: 100vw;
    background-color: rgb(192, 191, 191);
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.bNav {
    display: flex;
    height: 80px;
    width: 200px;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    align-items: center;
    align-content: center;
    padding-top: 15px;
}

.fish2 {
    width: 200px;
    height: 100%;
    background-image: url("../../assets/images/fish.png");
    background-repeat: no-repeat;
    background-size: 55%;
    background-position: center;
    cursor: pointer;
}

.contact-container {
    display: flex;
    height: 80px;
    width: 200px;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    align-items: center;
    align-content: center;
    padding-top: 15px;
}
