.hero {
  grid-area: hero;
  display: flex;
  justify-content: center;
  background: url("../../assets/images/shrimpboat.jpg");
  height: 575px;
  background-position: center-top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  align-items: flex-end;
}

/* ---------------------- slideshow---------------------------- */

* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}



/* ---------------------- slideshow end---------------------------- */
.mapContainer {
display: flex;
position: relative;
justify-content: center;
padding-top: 20px;
}

#map {
display: flex;
height: 400px;
/* The height is 400 pixels */
width: 75%;
/* The width is the width of the web page */
justify-content: center;
}

/* ------------------------------------- */


.salPicture {
position: relative;
background-size: contain;
background-repeat: no-repeat;
height: 250px;
width: auto;
background-image: url("../../assets/images/fish/sauces/dipmain2.jfif");
justify-content: center;
background-position: center;
margin-bottom: 50px;
}

.salPic1 {
position: relative;
background-size: contain;
background-repeat: no-repeat;
height: 150px;
width: auto;
background-image: url("../../assets/images/fish/sauces/parsley.jfif");
justify-content: center;
background-position: center;
}

.salPic2 {
position: relative;
background-size: contain;
background-repeat: no-repeat;
height: 250px;
width: auto;
background-image: url("../../assets/images/fish/sauces/smokedromesco\ sauce.jfif");
justify-content: center;
background-position: center;
}

.salPic3 {
position: relative;
background-size: contain;
background-repeat: no-repeat;
height: 250px;
width: auto;
background-image: url("../../assets/images/fish/sauces/herbsauce.jfif");
justify-content: center;
background-position: center;
}

.salPic4 {
position: relative;
background-size: contain;
background-repeat: no-repeat;
height: 250px;
width: auto;
background-image: url("../../assets/images/fish/sauces/rich-tomato.jpg");
justify-content: center;
background-position: center;
}

.salPic5 {
position: relative;
background-size: contain;
background-repeat: no-repeat;
height: 250px;
width: auto;
background-image: url("../../assets/images/fish/sauces/mint.jpg");
justify-content: center;
background-position: center;
}

.salPic6 {
position: relative;
background-size: contain;
background-repeat: no-repeat;
height: 250px;
width: auto;
background-image: url("../../assets/images/fish/sauces/lemon.jpg");
justify-content: center;
background-position: center;
}

.salPic7 {
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  height: 250px;
  width: auto;
  background-image: url("../../assets/images/fish/sauces/salmsauce.jpg");
  justify-content: center;
  background-position: center;
  }

  .salPic8 {
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    height: 250px;
    width: auto;
    background-image: url("../../assets/images/fish/sauces/redwine.jpg");
    justify-content: center;
    background-position: center;
    }

    .salPic9 {
      position: relative;
      background-size: contain;
      background-repeat: no-repeat;
      height: 250px;
      width: auto;
      background-image: url("../../assets/images/fish/sauces/tomatoginger.jpg");
      justify-content: center;
      background-position: center;
      }

      .salPic10 {
        position: relative;
        background-size: contain;
        background-repeat: no-repeat;
        height: 250px;
        width: auto;
        background-image: url("../../assets/images/fish/sauces/sweetnsour.jpg");
        justify-content: center;
        background-position: center;
        }

.tunaPicture {
position: relative;
background-size: contain;
background-repeat: no-repeat;
height: 250px;
width: auto;
background-image: url("../../assets/images/crab/crabmain.jpg");
justify-content: center;
background-position: center;
background-color: #ffffff;
}


.tunaPic1 {
position: relative;
background-size: contain;
background-repeat: no-repeat;
height: 250px;
width: auto;
background-image: url("../../assets/images/crab/brandy.jpg");
justify-content: center;
background-position: center;
}

.tunaPic2 {
position: relative;
background-size: contain;
background-repeat: no-repeat;
height: 250px;
width: auto;
background-image: url("../../assets/images/crab/chive.jpg");
justify-content: center;
background-position: center;
}

.tunaPic3 {
position: relative;
background-size: contain;
background-repeat: no-repeat;
height: 250px;
width: auto;
background-image: url("../../assets/images/crab/butter.jpg");
justify-content: center;
background-position: center;
}

.tunaPic4 {
position: relative;
background-size: contain;
background-repeat: no-repeat;
height: 250px;
width: auto;
background-image: url("../../assets/images/crab/diablesauce.jpg");
justify-content: center;
background-position: center;
}

.tunaPic5 {
position: relative;
background-size: contain;
background-repeat: no-repeat;
height: 250px;
width: auto;
background-image: url("../../assets/images/crab/tartar.jpg");
justify-content: center;
background-position: center;
}

.tunaPic6 {
position: relative;
background-size: contain;
background-repeat: no-repeat;
height: 250px;
width: auto;
background-image: url("../../assets/images/crab/ponzu.jpg");
justify-content: center;
background-position: center;
}

.shrimpPicture {
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  height: 250px;
  width: auto;
  background-image: url("../../assets/images/shrimp/cocktailsaucemain.jpg");
  justify-content: center;
  background-position: center;
  background-color: #ffffff;
  }

.shrimpPic1 {
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  height: 250px;
  width: auto;
  background-image: url("../../assets/images/shrimp/crossenblackwell.png");
  justify-content: center;
  background-position: center;
  }

  .shrimpPic2 {
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    height: 250px;
    width: auto;
    background-image: url("../../assets/images/shrimp/oldbaysauce.jpg");
    justify-content: center;
    background-position: center;
    }

    .shrimpPic3 {
      position: relative;
      background-size: contain;
      background-repeat: no-repeat;
      height: 250px;
      width: auto;
      background-image: url("../../assets/images/shrimp/stone.png");
      justify-content: center;
      background-position: center;
      background-color: #f1f1f1;
      }

      .shrimpPic4 {
        position: relative;
        background-size: contain;
        background-repeat: no-repeat;
        height: 250px;
        width: auto;
        background-image: url("../../assets/images/shrimp/golds.jpg");
        justify-content: center;
        background-position: center;
        }

        .shrimpPic5 {
          position: relative;
          background-size: contain;
          background-repeat: no-repeat;
          height: 250px;
          width: auto;
          background-image: url("../../assets/images/shrimp/frisch.jpg");
          justify-content: center;
          background-position: center;
          background-color: #f1f1f1;
          }

          .shrimpPic6 {
            position: relative;
            background-size: contain;
            background-repeat: no-repeat;
            height: 250px;
            width: auto;
            background-image: url("../../assets/images/shrimp/kraft.jpg");
            justify-content: center;
            background-position: center;
            }

          .shrimpPic7 {
            position: relative;
            background-size: contain;
            background-repeat: no-repeat;
            height: 250px;
            width: auto;
            background-image: url("../../assets/images/shrimp/sweetbaby.jpg");
            justify-content: center;
            background-position: center;
            background-color: #f1f1f1;
            }

            .shrimpPic8 {
              position: relative;
              background-size: contain;
              background-repeat: no-repeat;
              height: 250px;
              width: auto;
              background-image: url("../../assets/images/shrimp/gourmaise.jpg");
              justify-content: center;
              background-position: center;
              }

              .shrimpPic9 {
                position: relative;
                background-size: contain;
                background-repeat: no-repeat;
                height: 250px;
                width: auto;
                background-image: url("../../assets/images/shrimp/thumb.jpg");
                justify-content: center;
                background-position: center;
                background-color: #f1f1f1;
                }


                .lobsterPicture {
                  position: relative;
                  background-size: contain;
                  background-repeat: no-repeat;
                  height: 250px;
                  width: auto;
                  background-image: url("../../assets/images/lobster/saucesmain.jfif");
                  justify-content: center;
                  background-position: center;
                  background-color: #ffffff;
                  }
                
                .lobsterPic1 {
                  position: relative;
                  background-size: contain;
                  background-repeat: no-repeat;
                  height: 250px;
                  width: auto;
                  background-image: url("../../assets/images/lobster/classicthermidor.jfif");
                  justify-content: center;
                  background-position: center;
                  }

                  .lobsterPic2 {
                    position: relative;
                    background-size: contain;
                    background-repeat: no-repeat;
                    height: 250px;
                    width: auto;
                    background-image: url("../../assets/images/lobster/lemon.jfif");
                    justify-content: center;
                    background-position: center;
                    }

                    .lobsterPic3 {
                      position: relative;
                      background-size: contain;
                      background-repeat: no-repeat;
                      height: 250px;
                      width: auto;
                      background-image: url("../../assets/images/lobster/shallot.jfif");
                      justify-content: center;
                      background-position: center;
                      }

                      .lobsterPic4 {
                        position: relative;
                        background-size: contain;
                        background-repeat: no-repeat;
                        height: 250px;
                        width: auto;
                        background-image: url("../../assets/images/lobster/green.png");
                        justify-content: center;
                        background-position: center;
                        }

                        .lobsterPic5 {
                          position: relative;
                          background-size: contain;
                          background-repeat: no-repeat;
                          height: 250px;
                          width: auto;
                          background-image: url("../../assets/images/lobster/asianspices.jfif");
                          justify-content: center;
                          background-position: center;
                          }

                          .lobsterPic6 {
                            position: relative;
                            background-size: contain;
                            background-repeat: no-repeat;
                            height: 250px;
                            width: auto;
                            background-image: url("../../assets/images/lobster/truf.jfif");
                            justify-content: center;
                            background-position: center;
                            }

                            .lobsterPic7 {
                              position: relative;
                              background-size: contain;
                              background-repeat: no-repeat;
                              height: 250px;
                              width: auto;
                              background-image: url("../../assets/images/lobster/random.jfif");
                              justify-content: center;
                              background-position: center;
                              }

                              .octopusPicture {
                                position: relative;
                                background-size: contain;
                                background-repeat: no-repeat;
                                height: 250px;
                                width: auto;
                                background-image: url("../../assets/images/octopus/octmain.png");
                                justify-content: space-around;
                                background-position: center;
                                background-color: #ffffff;
                                padding-bottom: 40px;
                                }
                              
                              .octopusPic1 {
                                position: relative;
                                background-size: contain;
                                background-repeat: no-repeat;
                                height: 250px;
                                width: auto;
                                background-image: url("../../assets/images/octopus/chili.jfif");
                                justify-content: center;
                                background-position: center;
                                }
              
                                .octopusPic2 {
                                  position: relative;
                                  background-size: contain;
                                  background-repeat: no-repeat;
                                  height: 250px;
                                  width: auto;
                                  background-image: url("../../assets/images/octopus/ancho.jfif");
                                  justify-content: center;
                                  background-position: center;
                                  }
              
                                  .octopusPic3 {
                                    position: relative;
                                    background-size: contain;
                                    background-repeat: no-repeat;
                                    height: 250px;
                                    width: auto;
                                    background-image: url("../../assets/images/octopus/blackbean.jfif");
                                    justify-content: center;
                                    background-position: center;
                                    }
              
                                    .octopusPic4 {
                                      position: relative;
                                      background-size: contain;
                                      background-repeat: no-repeat;
                                      height: 250px;
                                      width: auto;
                                      background-image: url("../../assets/images/octopus/takoyakisauce.jfif");
                                      justify-content: center;
                                      background-position: center;
                                      }
              
                                      .octopusPic5 {
                                        position: relative;
                                        background-size: contain;
                                        background-repeat: no-repeat;
                                        height: 250px;
                                        width: auto;
                                        background-image: url("../../assets/images/octopus/kewpiesauce.jfif");
                                        justify-content: center;
                                        background-position: center;
                                        }
              
                                        .octopusPic6 {
                                          position: relative;
                                          background-size: contain;
                                          background-repeat: no-repeat;
                                          height: 250px;
                                          width: auto;
                                          background-image: url("../../assets/images/octopus/octotempura.jfif");
                                          justify-content: center;
                                          background-position: center;
                                          }

                                          .squidPicture {
                                            position: relative;
                                            background-size: contain;
                                            background-repeat: no-repeat;
                                            height: 250px;
                                            width: auto;
                                            background-image: url("../../assets/images/squid/calamarimain.jpg");
                                            justify-content: center;
                                            background-position: center;
                                            background-color: #ffffff;
                                            }
                                          
                                          .squidPic1 {
                                            position: relative;
                                            background-size: contain;
                                            background-repeat: no-repeat;
                                            height: 250px;
                                            width: auto;
                                            background-image: url("../../assets/images/squid/romesco.jfif");
                                            justify-content: center;
                                            background-position: center;
                                            }

                                            .squidPic2 {
                                              position: relative;
                                              background-size: contain;
                                              background-repeat: no-repeat;
                                              height: 250px;
                                              width: auto;
                                              background-image: url("../../assets/images/squid/marinara.jfif");
                                              justify-content: center;
                                              background-position: center;
                                              }

                                              .squidPic3 {
                                                position: relative;
                                                background-size: contain;
                                                background-repeat: no-repeat;
                                                height: 250px;
                                                width: auto;
                                                background-image: url("../../assets/images/squid/garliclemon.jpg");
                                                justify-content: center;
                                                background-position: center;
                                                }

                                                .squidPic4 {
                                                  position: relative;
                                                  background-size: contain;
                                                  background-repeat: no-repeat;
                                                  height: 250px;
                                                  width: auto;
                                                  background-image: url("../../assets/images/squid/chipotleaoli.jfif");
                                                  justify-content: center;
                                                  background-position: center;
                                                  }

                                                  .squidPic5 {
                                                    position: relative;
                                                    background-size: contain;
                                                    background-repeat: no-repeat;
                                                    height: 250px;
                                                    width: auto;
                                                    background-image: url("../../assets/images/squid/lemonbasil.jfif");
                                                    justify-content: center;
                                                    background-position: center;
                                                    }

                                                    .squidPic6 {
                                                      position: relative;
                                                      background-size: contain;
                                                      background-repeat: no-repeat;
                                                      height: 250px;
                                                      width: auto;
                                                      background-image: url("../../assets/images/squid/ranch.jpg");
                                                      justify-content: center;
                                                      background-position: center;
                                                      }

                                                      .squidPic7 {
                                                        position: relative;
                                                        background-size: contain;
                                                        background-repeat: no-repeat;
                                                        height: 250px;
                                                        width: auto;
                                                        background-image: url("../../assets/images/squid/smokedchipotle.JPG");
                                                        justify-content: center;
                                                        background-position: center;
                                                        }

                                                        .squidPic8 {
                                                          position: relative;
                                                          background-size: contain;
                                                          background-repeat: no-repeat;
                                                          height: 250px;
                                                          width: auto;
                                                          background-image: url("../../assets/images/squid/creamychipotle.jpg");
                                                          justify-content: center;
                                                          background-position: center;
                                                          }

                                                          .squidPic9 {
                                                            position: relative;
                                                            background-size: contain;
                                                            background-repeat: no-repeat;
                                                            height: 250px;
                                                            width: auto;
                                                            background-image: url("../../assets/images/squid/redsauce.jpg");
                                                            justify-content: center;
                                                            background-position: center;
                                                            background-color: #f1f1f1;
                                                            }

                                                            .squidPic10 {
                                                              position: relative;
                                                              background-size: contain;
                                                              background-repeat: no-repeat;
                                                              height: 250px;
                                                              width: auto;
                                                              background-image: url("../../assets/images/squid/sweetorange.jpeg");
                                                              justify-content: center;
                                                              background-position: center;
                                                              }