.sideFoodContainer {
    display: flex;
    justify-content: center;
    height: auto;
    width: 100vw;
    background-color: rgb(4, 122, 219);
    padding-top: 30px;
    margin-top: 50px;
}

.sideFood {
    display: inline-block;
    background-color: #f1f1f1;
    height: auto;
    width: 100vw;
    flex-direction: column;
    flex-wrap: wrap;
}

.sideHeader {
    display: flex;
    font-size: 26px;
    justify-content: center;
    text-decoration: underline;
    position: relative;
    top: 0;
    padding-bottom: 40px;
    padding-top: 40px;
    background-color: #ffffff;
}

.side1 {
    display: inline-flex;
    position: relative;
    height: auto;
    width: 100vw;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #ffffff;
    }

.side1 h1 {
    display: inline-flex;
    position: relative;
    height: auto;
    width: 50vw;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    flex: 50%;
    padding-right: 20px;

}


.sidePic1 {
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    height: 150px;
    width: auto;
    flex-wrap: wrap;
    justify-content: center;
    background-position: left;
    background-image: url("../../assets/images/side/grilledvegetables.jpeg");
    flex: 50%;
    padding-left: 20px;
}

.side2 {
    display: inline-flex;
    position: relative;
    height: auto;
    width: 100vw;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 25px;
    padding-bottom: 25px;
    }

.side2 h1 {
    display: inline-flex;
    position: relative;
    height: auto;
    width: 50vw;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    flex: 50%;
    padding-right: 20px;
}


.sidePic2 {
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    height: 150px;
    width: auto;
    flex-wrap: wrap;
    justify-content: center;
    background-position: left;
    background-image: url("../../assets/images/side/kale-leaves.jpg");
    flex: 50%;
    padding-left: 20px;
}

.side3 {
    display: inline-flex;
    position: relative;
    height: auto;
    width: 100vw;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #ffffff;
    }

.side3 h1 {
    display: inline-flex;
    position: relative;
    height: auto;
    width: 50vw;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    flex: 50%;
    padding-right: 20px;
}


.sidePic3 {
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    height: 150px;
    width: auto;
    flex-wrap: wrap;
    justify-content: center;
    background-position: left;
    background-image: url("../../assets/images/side/macaroni.jfif");
    flex: 50%;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.side4 {
    display: inline-flex;
    position: relative;
    height: auto;
    width: 100vw;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 25px;
    padding-bottom: 25px;
    }

.side4 h1 {
    display: inline-flex;
    position: relative;
    height: auto;
    width: 50vw;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    flex: 50%;
    padding-right: 20px;
}


.sidePic4 {
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    height: 150px;
    width: auto;
    flex-wrap: wrap;
    justify-content: center;
    background-position: left;
    background-image: url("../../assets/images/side/pesto.jfif");
    flex: 50%;
    padding-left: 20px;
}

.side5 {
    display: inline-flex;
    position: relative;
    height: auto;
    width: 100vw;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #ffffff;
    }

.side5 h1 {
    display: inline-flex;
    position: relative;
    height: auto;
    width: 50vw;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    flex: 50%;
    padding-right: 20px;
}


.sidePic5 {
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    height: 150px;
    width: auto;
    flex-wrap: wrap;
    justify-content: center;
    background-position: left;
    background-image: url("../../assets/images/side/greek.jfif");
    flex: 50%;
    padding-left: 20px;
    
}

.side6 {
    display: inline-flex;
    position: relative;
    height: auto;
    width: 100vw;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 25px;
    padding-bottom: 25px;
    }

.side6 h1 {
    display: inline-flex;
    position: relative;
    height: auto;
    width: 50vw;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    flex: 50%;
    padding-right: 20px;
}


.sidePic6 {
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    height: 150px;
    width: auto;
    flex-wrap: wrap;
    justify-content: center;
    background-position: left;
    background-image: url("../../assets/images/side/kebab.jfif");
    flex: 50%;
    padding-left: 20px;
}

.side7 {
    display: inline-flex;
    position: relative;
    height: auto;
    width: 100vw;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #ffffff;
    }

.side7 h1 {
    display: inline-flex;
    position: relative;
    height: auto;
    width: 50vw;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    flex: 50%;
    padding-right: 20px;
}


.sidePic7 {
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    height: 150px;
    width: auto;
    flex-wrap: wrap;
    justify-content: center;
    background-position: left;
    background-image: url("../../assets/images/side/couscous.jfif");
    flex: 50%;
    padding-left: 20px;
}

.side8 {
    display: inline-flex;
    position: relative;
    height: auto;
    width: 100vw;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 25px;
    padding-bottom: 25px;
    }

.side8 h1 {
    display: inline-flex;
    position: relative;
    height: auto;
    width: 50vw;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    flex: 50%;
    padding-right: 20px;
}


.sidePic8 {
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    height: 150px;
    width: auto;
    flex-wrap: wrap;
    justify-content: center;
    background-position: left;
    background-image: url("../../assets/images/side/mango.jfif");
    flex: 50%;
    padding-left: 20px;
}

.side9 {
    display: inline-flex;
    position: relative;
    height: auto;
    width: 100vw;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #ffffff;
    }

.side9 h1 {
    display: inline-flex;
    position: relative;
    height: auto;
    width: 50vw;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    flex: 50%;
    padding-right: 20px;
}


.sidePic9 {
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    height: 150px;
    width: auto;
    flex-wrap: wrap;
    justify-content: center;
    background-position: left;
    background-image: url("../../assets/images/side/potato.jfif");
    flex: 50%;
    padding-left: 20px;
}

.side10 {
    display: inline-flex;
    position: relative;
    height: auto;
    width: 100vw;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 25px;
    padding-bottom: 25px;
    }

.side10 h1 {
    display: inline-flex;
    position: relative;
    height: auto;
    width: 50vw;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    flex: 50%;
    padding-right: 20px;
}


.sidePic10 {
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    height: 150px;
    width: auto;
    flex-wrap: wrap;
    justify-content: center;
    background-position: left;
    background-image: url("../../assets/images/side/caesar.jfif");
    flex: 50%;
    padding-left: 20px;
}





.salmon h1 {
    display: flex;
    font-size: 26px;
    justify-content: center;
    text-decoration: underline;
    position: relative;
    top: 0;
    padding-bottom: 20px;
    padding-top: 40px;
    }

    
    .content h2 {
        justify-content: center;
        font-size: 22px;
        padding:40px;
        position: relative;
        display: flex;
        text-decoration: underline;
    }
    
    .salmonType1 {
        display: flex;
        font-size: 18px;
        justify-content: center;
        text-decoration: none;
        position: relative;
        top: 0;
        width: 100vw;
        height: auto;
        flex-direction: column;
        text-align: center;
        background-color: #f1f1f1;
        padding-bottom: 50px;
    }
    
    .salmonType1 h1 {
        display: flex;
        font-size: 20px;
        justify-content: center;
        text-decoration: underline;
        width: 100vw;
    }
    
    .salmonType1 p {
        display: flex;
        font-size: 18px;
        justify-content: center;
        text-decoration: none;
        position: relative;
        width: 100vw;
        padding-top: 20px;
    }
    
    .salmonType2 {
        display: flex;
        font-size: 18px;
        justify-content: center;
        text-decoration: none;
        position: relative;
        top: 0;
        width: 100vw;
        height: auto;
        flex-direction: column;
        text-align: center;
        padding-bottom: 50px;
        padding-top: 20px;
    }
    
    .salmonType2 h1 {
        display: flex;
        font-size: 20px;
        justify-content: center;
        text-decoration: underline;
        width: 100vw;
    }
    
    .salmonType2 p {
        display: flex;
        font-size: 18px;
        justify-content: center;
        text-decoration: none;
        position: relative;
        width: 100vw;
        padding-top: 20px;
    }
    
    .salmonType3 {
        display: flex;
        font-size: 18px;
        justify-content: center;
        text-decoration: none;
        position: relative;
        top: 0;
        width: 100vw;
        height: auto;
        flex-direction: column;
        text-align: center;
        background-color: #f1f1f1;
        padding-bottom: 50px;
        padding-top: 20px;
    }
    
    .salmonType3 h1 {
        display: flex;
        font-size: 20px;
        justify-content: center;
        text-decoration: underline;
        width: 100vw;
    }
    
    .salmonType3 p {
        display: flex;
        font-size: 18px;
        justify-content: center;
        text-decoration: none;
        position: relative;
        width: 100vw;
        padding-top: 20px;
    }
    
    .salmonType4 {
        display: flex;
        font-size: 18px;
        justify-content: center;
        text-decoration: none;
        position: relative;
        top: 0;
        width: 100vw;
        height: auto;
        flex-direction: column;
        text-align: center;
        padding-bottom: 50px;
        padding-top: 20px;
    }
    
    .salmonType4 h1 {
        display: flex;
        font-size: 20px;
        justify-content: center;
        text-decoration: underline;
        width: 100vw;
    }
    
    .salmonType4 p {
        display: flex;
        font-size: 18px;
        justify-content: center;
        text-decoration: none;
        position: relative;
        width: 100vw;
        padding-top: 20px;
    }
    
    .salmonType5 {
        display: flex;
        font-size: 18px;
        justify-content: center;
        text-decoration: none;
        position: relative;
        top: 0;
        width: 100vw;
        height: auto;
        flex-direction: column;
        text-align: center;
        background-color: #f1f1f1;
        padding-bottom: 50px;
        padding-top: 20px;
    }
    
    .salmonType5 h1 {
        display: flex;
        font-size: 20px;
        justify-content: center;
        text-decoration: underline;
        width: 100vw;
    }
    
    .salmonType5 p {
        display: flex;
        font-size: 18px;
        justify-content: center;
        text-decoration: none;
        position: relative;
        width: 100vw;
        padding-top: 20px;
    }
    
    .salmonType6 {
        display: flex;
        font-size: 18px;
        justify-content: center;
        text-decoration: none;
        position: relative;
        top: 0;
        width: 100vw;
        height: auto;
        flex-direction: column;
        text-align: center;
        padding-bottom: 50px;
        padding-top: 20px;
    }
    
    .salmonType6 h1 {
        display: flex;
        font-size: 20px;
        justify-content: center;
        text-decoration: underline;
        width: 100vw;
    }
    
    .salmonType6 p {
        display: flex;
        font-size: 18px;
        justify-content: center;
        text-decoration: none;
        position: relative;
        width: 100vw;
        padding-top: 20px;
    }

    .salmonType7 {
        display: flex;
        font-size: 18px;
        justify-content: center;
        text-decoration: none;
        position: relative;
        top: 0;
        width: 100vw;
        height: auto;
        flex-direction: column;
        text-align: center;
        padding-bottom: 50px;
        padding-top: 20px;
        background-color: #f1f1f1;
    }
    
    .salmonType7 h1 {
        display: flex;
        font-size: 20px;
        justify-content: center;
        text-decoration: underline;
        width: 100vw;
    }
    
    .salmonType7 p {
        display: flex;
        font-size: 18px;
        justify-content: center;
        text-decoration: none;
        position: relative;
        width: 100vw;
        padding-top: 20px;
    }

    .salmonType8 {
        display: flex;
        font-size: 18px;
        justify-content: center;
        text-decoration: none;
        position: relative;
        top: 0;
        width: 100vw;
        height: auto;
        flex-direction: column;
        text-align: center;
        padding-bottom: 50px;
        padding-top: 20px;
    }
    
    .salmonType8 h1 {
        display: flex;
        font-size: 20px;
        justify-content: center;
        text-decoration: underline;
        width: 100vw;
    }
    
    .salmonType8 p {
        display: flex;
        font-size: 18px;
        justify-content: center;
        text-decoration: none;
        position: relative;
        width: 100vw;
        padding-top: 20px;
    }

    .salmonType9 {
        display: flex;
        font-size: 18px;
        justify-content: center;
        text-decoration: none;
        position: relative;
        top: 0;
        width: 100vw;
        height: auto;
        flex-direction: column;
        text-align: center;
        padding-bottom: 50px;
        padding-top: 20px;
        background-color: #f1f1f1;
    }
    
    .salmonType9 h1 {
        display: flex;
        font-size: 20px;
        justify-content: center;
        text-decoration: underline;
        width: 100vw;
    }
    
    .salmonType9 p {
        display: flex;
        font-size: 18px;
        justify-content: center;
        text-decoration: none;
        position: relative;
        width: 100vw;
        padding-top: 20px;
    }

    .salmonType10 {
        display: flex;
        font-size: 18px;
        justify-content: center;
        text-decoration: none;
        position: relative;
        top: 0;
        width: 100vw;
        height: auto;
        flex-direction: column;
        text-align: center;
        padding-bottom: 50px;
        padding-top: 20px;
    }
    
    .salmonType10 h1 {
        display: flex;
        font-size: 20px;
        justify-content: center;
        text-decoration: underline;
        width: 100vw;
    }
    
    .salmonType10 p {
        display: flex;
        font-size: 18px;
        justify-content: center;
        text-decoration: none;
        position: relative;
        width: 100vw;
        padding-top: 20px;
    }
    
    .tuna h1 {
        display: flex;
        font-size: 26px;
        justify-content: center;
        text-decoration: underline;
        position: relative;
        top: 0;
        padding-bottom: 20px;
        padding-top: 40px;
        background-color: #ffffff;
        }
    
        .tunaType1 {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            top: 0;
            width: 100vw;
            height: auto;
            flex-direction: column;
            text-align: center;
            background-color: #f1f1f1;
            padding-bottom: 50px;
        }
        
        .tunaType1 h1 {
            display: flex;
            font-size: 20px;
            justify-content: center;
            text-decoration: underline;
            width: 100vw;
            background-color: #f1f1f1;
        }
        
        .tunaType1 p {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            width: 100vw;
            padding-top: 20px;
        }
    
        .tunaType2 {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            top: 0;
            width: 100vw;
            height: auto;
            flex-direction: column;
            text-align: center;
            background-color: #ffffff;
            padding-bottom: 50px;
        }
        
        .tunaType2 h1 {
            display: flex;
            font-size: 20px;
            justify-content: center;
            text-decoration: underline;
            width: 100vw;
        }
        
        .tunaType2 p {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            width: 100vw;
            padding-top: 20px;
        }
    
        .tunaType3 {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            top: 0;
            width: 100vw;
            height: auto;
            flex-direction: column;
            text-align: center;
            background-color: #f1f1f1;
            padding-bottom: 50px;
        }
        
        .tunaType3 h1 {
            display: flex;
            font-size: 20px;
            justify-content: center;
            text-decoration: underline;
            width: 100vw;
            background-color: #f1f1f1;
        }
        
        .tunaType3 p {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            width: 100vw;
            padding-top: 20px;
        }
    
        .tunaType4 {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            top: 0;
            width: 100vw;
            height: auto;
            flex-direction: column;
            text-align: center;
            background-color: #ffffff;
            padding-bottom: 50px;
        }
        
        .tunaType4 h1 {
            display: flex;
            font-size: 20px;
            justify-content: center;
            text-decoration: underline;
            width: 100vw;
        }
        
        .tunaType4 p {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            width: 100vw;
            padding-top: 20px;
        }
    
        .tunaType5 {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            top: 0;
            width: 100vw;
            height: auto;
            flex-direction: column;
            text-align: center;
            background-color: #f1f1f1;
            padding-bottom: 50px;
        }
        
        .tunaType5 h1 {
            display: flex;
            font-size: 20px;
            justify-content: center;
            text-decoration: underline;
            width: 100vw;
            background-color: #f1f1f1;
        }
        
        .tunaType5 p {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            width: 100vw;
            padding-top: 20px;
        }
    
        .tunaType6 {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            top: 0;
            width: 100vw;
            height: auto;
            flex-direction: column;
            text-align: center;
            background-color: #ffffff;
            padding-bottom: 50px;
        }
        
        .tunaType6 h1 {
            display: flex;
            font-size: 20px;
            justify-content: center;
            text-decoration: underline;
            width: 100vw;
        }
        
        .tunaType6 p {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            width: 100vw;
            padding-top: 20px;
        }

        .shrimpType1 {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            top: 0;
            width: 100vw;
            height: auto;
            flex-direction: column;
            text-align: center;
            background-color: #f1f1f1;
            padding-bottom: 50px;
        }
        
        .shrimpType1 h1 {
            display: flex;
            font-size: 20px;
            justify-content: center;
            text-decoration: underline;
            width: 100vw;
            background-color: #f1f1f1;
        }
        
        .shrimpType1 p {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            width: 100vw;
            padding-top: 20px;
            background-color: #f1f1f1;
        }

        .shrimpType2 {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            top: 0;
            width: 100vw;
            height: auto;
            flex-direction: column;
            text-align: center;
            background-color: #ffffff;
            padding-bottom: 50px;
        }
        
        .shrimpType2 h1 {
            display: flex;
            font-size: 20px;
            justify-content: center;
            text-decoration: underline;
            width: 100vw;
        }
        
        .shrimpType2 p {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            width: 100vw;
            padding-top: 20px;
        }

        .shrimpType3 {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            top: 0;
            width: 100vw;
            height: auto;
            flex-direction: column;
            text-align: center;
            background-color: #f1f1f1;
            padding-bottom: 50px;
        }
        
        .shrimpType3 h1 {
            display: flex;
            font-size: 20px;
            justify-content: center;
            text-decoration: underline;
            width: 100vw;
            background-color: #f1f1f1;
        }
        
        .shrimpType3 p {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            width: 100vw;
            padding-top: 20px;
            background-color: #f1f1f1;
        }

        .shrimpType4 {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            top: 0;
            width: 100vw;
            height: auto;
            flex-direction: column;
            text-align: center;
            background-color: #ffffff;
            padding-bottom: 50px;
        }
        
        .shrimpType4 h1 {
            display: flex;
            font-size: 20px;
            justify-content: center;
            text-decoration: underline;
            width: 100vw;
        }
        
        .shrimpType4 p {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            width: 100vw;
            padding-top: 20px;
        }

        .shrimpType5 {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            top: 0;
            width: 100vw;
            height: auto;
            flex-direction: column;
            text-align: center;
            background-color: #f1f1f1;
            padding-bottom: 50px;
        }
        
        .shrimpType5 h1 {
            display: flex;
            font-size: 20px;
            justify-content: center;
            text-decoration: underline;
            width: 100vw;
            background-color: #f1f1f1;
        }
        
        .shrimpType5 p {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            width: 100vw;
            padding-top: 20px;
            background-color: #f1f1f1;
        }

        .shrimpType6 {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            top: 0;
            width: 100vw;
            height: auto;
            flex-direction: column;
            text-align: center;
            background-color: #ffffff;
            padding-bottom: 50px;
        }
        
        .shrimpType6 h1 {
            display: flex;
            font-size: 20px;
            justify-content: center;
            text-decoration: underline;
            width: 100vw;
        }
        
        .shrimpType6 p {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            width: 100vw;
            padding-top: 20px;
        }

        .shrimpType7 {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            top: 0;
            width: 100vw;
            height: auto;
            flex-direction: column;
            text-align: center;
            background-color: #f1f1f1;
            padding-bottom: 50px;
        }
        
        .shrimpType7 h1 {
            display: flex;
            font-size: 20px;
            justify-content: center;
            text-decoration: underline;
            width: 100vw;
            background-color: #f1f1f1;
        }
        
        .shrimpType7 p {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            width: 100vw;
            padding-top: 20px;
            background-color: #f1f1f1;
        }

        .shrimpType8 {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            top: 0;
            width: 100vw;
            height: auto;
            flex-direction: column;
            text-align: center;
            background-color: #ffffff;
            padding-bottom: 50px;
        }
        
        .shrimpType8 h1 {
            display: flex;
            font-size: 20px;
            justify-content: center;
            text-decoration: underline;
            width: 100vw;
        }
        
        .shrimpType8 p {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            width: 100vw;
            padding-top: 20px;
        }

        .shrimpType9 {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            top: 0;
            width: 100vw;
            height: auto;
            flex-direction: column;
            text-align: center;
            background-color: #f1f1f1;
            padding-bottom: 50px;
        }
        
        .shrimpType9 h1 {
            display: flex;
            font-size: 20px;
            justify-content: center;
            text-decoration: underline;
            width: 100vw;
            background-color: #f1f1f1;
        }
        
        .shrimpType9 p {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            width: 100vw;
            padding-top: 20px;
            background-color: #f1f1f1;
        }



        .lobsterType1 {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            top: 0;
            width: 100vw;
            height: auto;
            flex-direction: column;
            text-align: center;
            background-color: #f1f1f1;
            padding-bottom: 50px;
        }
        
        .lobsterType1 h1 {
            display: flex;
            font-size: 20px;
            justify-content: center;
            text-decoration: underline;
            width: 100vw;
            background-color: #f1f1f1;
        }
        
        .lobsterType1 p {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            width: 100vw;
            padding-top: 20px;
            background-color: #f1f1f1;
        }

        .lobsterType2 {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            top: 0;
            width: 100vw;
            height: auto;
            flex-direction: column;
            text-align: center;
            background-color: #ffffff;
            padding-bottom: 50px;
        }
        
        .lobsterType2 h1 {
            display: flex;
            font-size: 20px;
            justify-content: center;
            text-decoration: underline;
            width: 100vw;
        }
        
        .lobsterType2 p {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            width: 100vw;
            padding-top: 20px;
        }

        .lobsterType3 {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            top: 0;
            width: 100vw;
            height: auto;
            flex-direction: column;
            text-align: center;
            background-color: #f1f1f1;
            padding-bottom: 50px;
        }
        
        .lobsterType3 h1 {
            display: flex;
            font-size: 20px;
            justify-content: center;
            text-decoration: underline;
            width: 100vw;
            background-color: #f1f1f1;
        }
        
        .lobsterType3 p {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            width: 100vw;
            padding-top: 20px;
            background-color: #f1f1f1;
        }

        .lobsterType4 {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            top: 0;
            width: 100vw;
            height: auto;
            flex-direction: column;
            text-align: center;
            background-color: #ffffff;
            padding-bottom: 50px;
        }
        
        .lobsterType4 h1 {
            display: flex;
            font-size: 20px;
            justify-content: center;
            text-decoration: underline;
            width: 100vw;
        }
        
        .lobsterType4 p {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            width: 100vw;
            padding-top: 20px;
        }

        .lobsterType5 {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            top: 0;
            width: 100vw;
            height: auto;
            flex-direction: column;
            text-align: center;
            background-color: #f1f1f1;
            padding-bottom: 50px;
        }
        
        .lobsterType5 h1 {
            display: flex;
            font-size: 20px;
            justify-content: center;
            text-decoration: underline;
            width: 100vw;
            background-color: #f1f1f1;
        }
        
        .lobsterType5 p {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            width: 100vw;
            padding-top: 20px;
            background-color: #f1f1f1;
        }

        .lobsterType6 {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            top: 0;
            width: 100vw;
            height: auto;
            flex-direction: column;
            text-align: center;
            background-color: #ffffff;
            padding-bottom: 50px;
        }
        
        .lobsterType6 h1 {
            display: flex;
            font-size: 20px;
            justify-content: center;
            text-decoration: underline;
            width: 100vw;
        }
        
        .lobsterType6 p {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            width: 100vw;
            padding-top: 20px;
        }

        .lobsterType7 {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            top: 0;
            width: 100vw;
            height: auto;
            flex-direction: column;
            text-align: center;
            background-color: #f1f1f1;
            padding-bottom: 50px;
        }
        
        .lobsterType7 h1 {
            display: flex;
            font-size: 20px;
            justify-content: center;
            text-decoration: underline;
            width: 100vw;
            background-color: #f1f1f1;
        }
        
        .lobsterType7 p {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            width: 100vw;
            padding-top: 20px;
            background-color: #f1f1f1;
        }


        .octopusType1 {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            top: 0;
            width: 100vw;
            height: auto;
            flex-direction: column;
            text-align: center;
            background-color: #f1f1f1;
            padding-bottom: 50px;
        }
        
        .octopusType1 h1 {
            display: flex;
            font-size: 20px;
            justify-content: center;
            text-decoration: underline;
            width: 100vw;
            background-color: #f1f1f1;
        }
        
        .octopusType1 p {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            width: 100vw;
            padding-top: 20px;
            background-color: #f1f1f1;
        }

        .octopusType2 {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            top: 0;
            width: 100vw;
            height: auto;
            flex-direction: column;
            text-align: center;
            background-color: #ffffff;
            padding-bottom: 50px;
        }
        
        .octopusType2 h1 {
            display: flex;
            font-size: 20px;
            justify-content: center;
            text-decoration: underline;
            width: 100vw;
        }
        
        .octopusType2 p {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            width: 100vw;
            padding-top: 20px;
        }

        .octopusType3 {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            top: 0;
            width: 100vw;
            height: auto;
            flex-direction: column;
            text-align: center;
            background-color: #f1f1f1;
            padding-bottom: 50px;
        }
        
        .octopusType3 h1 {
            display: flex;
            font-size: 20px;
            justify-content: center;
            text-decoration: underline;
            width: 100vw;
            background-color: #f1f1f1;
        }
        
        .octopusType3 p {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            width: 100vw;
            padding-top: 20px;
            background-color: #f1f1f1;
        }

        .octopusType4 {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            top: 0;
            width: 100vw;
            height: auto;
            flex-direction: column;
            text-align: center;
            background-color: #ffffff;
            padding-bottom: 50px;
        }
        
        .octopusType4 h1 {
            display: flex;
            font-size: 20px;
            justify-content: center;
            text-decoration: underline;
            width: 100vw;
        }
        
        .octopusType4 p {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            width: 100vw;
            padding-top: 20px;
        }

        .octopusType5 {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            top: 0;
            width: 100vw;
            height: auto;
            flex-direction: column;
            text-align: center;
            background-color: #f1f1f1;
            padding-bottom: 50px;
        }
        
        .octopusType5 h1 {
            display: flex;
            font-size: 20px;
            justify-content: center;
            text-decoration: underline;
            width: 100vw;
            background-color: #f1f1f1;
        }
        
        .octopusType5 p {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            width: 100vw;
            padding-top: 20px;
            background-color: #f1f1f1;
        }

        .octopusType6 {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            top: 0;
            width: 100vw;
            height: auto;
            flex-direction: column;
            text-align: center;
            background-color: #ffffff;
            padding-bottom: 50px;
        }
        
        .octopusType6 h1 {
            display: flex;
            font-size: 20px;
            justify-content: center;
            text-decoration: underline;
            width: 100vw;
        }
        
        .octopusType6 p {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            width: 100vw;
            padding-top: 20px;
        }


        .squidType1 {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            top: 0;
            width: 100vw;
            height: auto;
            flex-direction: column;
            text-align: center;
            background-color: #f1f1f1;
            padding-bottom: 50px;
        }
        
        .squidType1 h1 {
            display: flex;
            font-size: 20px;
            justify-content: center;
            text-decoration: underline;
            width: 100vw;
            background-color: #f1f1f1;
        }
        
        .squidType1 p {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            width: 100vw;
            padding-top: 20px;
            background-color: #f1f1f1;
        }

        .squidType2 {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            top: 0;
            width: 100vw;
            height: auto;
            flex-direction: column;
            text-align: center;
            background-color: #ffffff;
            padding-bottom: 50px;
        }
        
        .squidType2 h1 {
            display: flex;
            font-size: 20px;
            justify-content: center;
            text-decoration: underline;
            width: 100vw;
        }
        
        .squidType2 p {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            width: 100vw;
            padding-top: 20px;
        }

        .squidType3 {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            top: 0;
            width: 100vw;
            height: auto;
            flex-direction: column;
            text-align: center;
            background-color: #f1f1f1;
            padding-bottom: 50px;
        }
        
        .squidType3 h1 {
            display: flex;
            font-size: 20px;
            justify-content: center;
            text-decoration: underline;
            width: 100vw;
            background-color: #f1f1f1;
        }
        
        .squidType3 p {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            width: 100vw;
            padding-top: 20px;
            background-color: #f1f1f1;
        }

        .squidType4 {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            top: 0;
            width: 100vw;
            height: auto;
            flex-direction: column;
            text-align: center;
            background-color: #ffffff;
            padding-bottom: 50px;
        }
        
        .squidType4 h1 {
            display: flex;
            font-size: 20px;
            justify-content: center;
            text-decoration: underline;
            width: 100vw;
        }
        
        .squidType4 p {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            width: 100vw;
            padding-top: 20px;
        }

        .squidType5 {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            top: 0;
            width: 100vw;
            height: auto;
            flex-direction: column;
            text-align: center;
            background-color: #f1f1f1;
            padding-bottom: 50px;
        }
        
        .squidType5 h1 {
            display: flex;
            font-size: 20px;
            justify-content: center;
            text-decoration: underline;
            width: 100vw;
            background-color: #f1f1f1;
        }
        
        .squidType5 p {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            width: 100vw;
            padding-top: 20px;
            background-color: #f1f1f1;
        }

        .squidType6 {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            top: 0;
            width: 100vw;
            height: auto;
            flex-direction: column;
            text-align: center;
            background-color: #ffffff;
            padding-bottom: 50px;
        }
        
        .squidType6 h1 {
            display: flex;
            font-size: 20px;
            justify-content: center;
            text-decoration: underline;
            width: 100vw;
        }
        
        .squidType6 p {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            width: 100vw;
            padding-top: 20px;
        }

        .squidType7 {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            top: 0;
            width: 100vw;
            height: auto;
            flex-direction: column;
            text-align: center;
            background-color: #f1f1f1;
            padding-bottom: 50px;
        }
        
        .squidType7 h1 {
            display: flex;
            font-size: 20px;
            justify-content: center;
            text-decoration: underline;
            width: 100vw;
            background-color: #f1f1f1;
        }
        
        .squidType7 p {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            width: 100vw;
            padding-top: 20px;
            background-color: #f1f1f1;
        }

        .squidType8 {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            top: 0;
            width: 100vw;
            height: auto;
            flex-direction: column;
            text-align: center;
            background-color: #ffffff;
            padding-bottom: 50px;
        }
        
        .squidType8 h1 {
            display: flex;
            font-size: 20px;
            justify-content: center;
            text-decoration: underline;
            width: 100vw;
        }
        
        .squidType8 p {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            width: 100vw;
            padding-top: 20px;
        }

        .squidType9 {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            top: 0;
            width: 100vw;
            height: auto;
            flex-direction: column;
            text-align: center;
            background-color: #f1f1f1;
            padding-bottom: 50px;
        }
        
        .squidType9 h1 {
            display: flex;
            font-size: 20px;
            justify-content: center;
            text-decoration: underline;
            width: 100vw;
            background-color: #f1f1f1;
        }
        
        .squidType9 p {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            width: 100vw;
            padding-top: 20px;
            background-color: #f1f1f1;
        }

        .squidType10 {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            top: 0;
            width: 100vw;
            height: auto;
            flex-direction: column;
            text-align: center;
            background-color: #ffffff;
            padding-bottom: 50px;
        }
        
        .squidType10 h1 {
            display: flex;
            font-size: 20px;
            justify-content: center;
            text-decoration: underline;
            width: 100vw;
        }
        
        .squidType10 p {
            display: flex;
            font-size: 18px;
            justify-content: center;
            text-decoration: none;
            position: relative;
            width: 100vw;
            padding-top: 20px;
        }



        @media (max-width: 700px) {

            .side1, .side2, .side3, .side4, .side5, .side6, .side7, .side8, .side9, .side10 {
                display:inline-flex;
                position: relative;
                height: 300px;
                width: 100vw;
                justify-content: space-between;
                flex-wrap: nowrap;
                flex-direction: column;
            }

            .side1 h1, .side2 h1, .side3 h1, .side4 h1, .side5 h1, .side6 h1, .side7 h1, .side8 h1, .side9 h1, .side10 h1 {
                display: inline-flex;
                position: relative;
                height: auto;
                width: 100vw;
                justify-content: center;
                align-content: center;
                flex-wrap: nowrap;
            }

            .sidePic1, .sidePic2, .sidePic3, .sidePic4, .sidePic5, .sidePic6, .sidePic7, .sidePic8, .sidePic9, .sidePic10{
                display: flex;
                position: relative;
                height: 250px;
                width: auto;
                justify-content: center;
                flex-wrap: nowrap;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                background-image: url("../../assets/images/side/grilledvegetables.jpeg");
                padding-bottom: 30px;
                align-content: space-between;
            }

        }


        /* .side1 + .side2 + .side3 + .side4 + .side5 + .side6 + .side7 + .side8 + .side9 + .side10 {
            display:inline-flex;
            position: relative;
            height: 300px;
            width: 100vw;
            justify-content: space-between;
            flex-wrap: nowrap;
            flex-direction: column;
        }

        .side1 h1 + .side2 h1 + .side3 h1 + .side4 h1 + .side5 h1 + .side6 h1 + .side7 h1 + .side8 h1 + .side9 h1 + .side10 h1 {
            display: inline-flex;
            position: relative;
            height: auto;
            width: 100vw;
            justify-content: center;
            align-content: center;
            flex-wrap: nowrap;
        }

        .sidePic1 + .sidePic2 + .sidePic3 + .sidePic4 + .sidePic5 + .sidePic6 + .sidePic7 + .sidePic8 + .sidePic9 + .sidePic10 {
            display: flex;
            position: relative;
            height: 250px;
            width: auto;
            justify-content: center;
            flex-wrap: nowrap;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url("../../Assets/images/side/grilledvegetables.jpeg");
            padding-bottom: 30px;
            align-content: space-between;
        }

    } */