.grid {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "logo logo" 
                         "hero hero"
                         "content content"
                         "newsLetter newsLetter"
                         "footer footer";
}

.logo {
    grid-area: logo;
    height: 50px;
    width: 100vw;
    background-color: rgb(4, 122, 219);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    font-weight: bold;
}




.fish {
    width: 100px;
    height: 100%;
    background-image: url("../../assets/images/fish.png");
    background-repeat: no-repeat;
    background-size: 55%;
    background-position: center;
    cursor: pointer;
}

.box {
    position: relative; 
    height: 20vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.box::before {    
    content: "";
    background-color: black;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.5;
}

.nav {
    position: relative;
    color: #ffffff;  
    font-size: 30px;
    line-height: 0.9;
    text-align: center;
}

.nav ul {
    display: inline-flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: none;
    bottom: 5px;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px;
}

.nav li {
    border-right: 1px solid #bbb;
    line-height: 100%;
}

.nav li:last-child {
    border-right: none;
}

.nav li a {
    display: inline;
    color: white;
    text-align: center;
    padding: 2px 14px;
    text-decoration: underline;
    font-size:24px;
    transition: 0.5s ease-in-out;
}

.nav li a:hover {
    background: rgb(4, 122, 219);
    padding: 25px;
  }

  /* --------------------------------------- */
  .nav-mini {
    position: relative;
    color: #ffffff;  
    font-size: 30px;
    line-height: 0.9;
    text-align: center;
}

.nav-mini ul {
    display: inline-flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: none;
    bottom: 5px;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px;
}

.nav-mini li {
    border-right: 1px solid #bbb;
    line-height: 100%;
}

.nav-mini li:last-child {
    border-right: none;
}

.nav-mini li a {
    display: inline;
    color: white;
    text-align: center;
    padding: 2px 14px;
    text-decoration: underline;
    font-size:18px;
    transition: 0.5s ease-in-out;
}

.nav-mini li a:hover {
    background: rgb(4, 122, 219);
    padding: 25px;
  }


  /* ------------------------------------------------------ */

@media (max-width: 700px) {
    .nav-main {
      grid-area: nav-main;
      display: flex;
        width: 100%;
        /* width: 98.5vw; */
        height: 50px;
        top: 0;
        position: fixed;
        background-color: rgb(4, 90, 219);
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        font-size: 17px;
        font-weight: bold;
        z-index: 5;
        /* padding-left: 6px; */
      }
  }
  /* ------------------------------------------ */
  .seaLifeType {
    position: relative;
    color: #ffffff;  
    font-size: 30px;
    line-height: 0.9;
    text-align: center;
}

.seaLifeType ul {
    display: inline-flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: none;
    bottom: 5px;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px;
}

.seaLifeType li {
    border-right: 1px solid #bbb;
    line-height: 100%;
}

.seaLifeType li:last-child {
    border-right: none;
}

.seaLifeType li a {
    display: inline;
    color: rgb(29, 28, 28);
    text-align: center;
    padding: 2px 14px;
    text-decoration: underline;
    font-size:18px;
    transition: 0.5s ease-in-out;
}

.seaLifeType li a:hover {
    background: rgb(4, 122, 219);
    padding: 25px;
  }

  .salPicture {
    padding-bottom: 40px;
  }

.fishContainer {
    display: flex;
    position: relative;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 18px;
}

  .salmon{
    display: flex;
    position: relative;
    width: 100vw;
    height: auto;
    padding-top: 20px;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.salmonType1 {
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
}

.salmonType2 {
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
}

.salmonType3 {
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
}

.salmonType4 {
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
}

.salmonType5 {
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
}

.salmonType6 {
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
}

.salmonType7 {
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
}

.salmonType8 {
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
}

.salmonType9 {
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
}

.salmonType10 {
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
}

.tuna{
    display: flex;
    position: relative;
    width: 100vw;
    height: auto;
    padding-top: 20px;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(4, 122, 219);
    padding-top: 30px;
}

.tunaType1 {
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
}

.tunaType2 {
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
}

.tunaType3 {
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
}

.tunaType4 {
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
}

.tunaType5 {
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
}

.tunaType6 {
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
}


.shrimpSauce{
    display: flex;
    position: relative;
    width: 100vw;
    height: auto;
    padding-top: 20px;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(4, 122, 219);
    padding-top: 30px;
}

.shrimpType1 {
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
}

.shrimpType2 {
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
}

.shrimpType3 {
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
}

.shrimpType4 {
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
}

.shrimpType5 {
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
}

.shrimpType6 {
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
}

.shrimpType7 {
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
}

.shrimpType8 {
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
}

.shrimpType9 {
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
}



.lobsterSauce{
    display: flex;
    position: relative;
    width: 100vw;
    height: auto;
    padding-top: 20px;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(4, 122, 219);
    padding-top: 30px;
}

.lobsterType1 {
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
}

.lobsterType2 {
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
}

.lobsterType3 {
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
}

.lobsterType4 {
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
}

.lobsterType5 {
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
}

.lobsterType6 {
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
}





.octopusSauce{
    display: flex;
    position: relative;
    width: 100vw;
    height: auto;
    padding-top: 20px;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(4, 122, 219);
    padding-top: 30px;
}

.octopusType1 {
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
}

.octopusType2 {
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
}

.octopusType3 {
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
}

.octopusType4 {
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
}

.octopusType5 {
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
}

.octopusType6 {
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
}

.octopusType7 {
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
}


.squidSauce{
    display: flex;
    position: relative;
    width: 100vw;
    height: auto;
    padding-top: 20px;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(4, 122, 219);
    padding-top: 30px;
}

.squidType1 {
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
}

.squidType2 {
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
}

.squidType3 {
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
}

.squidType4 {
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
}

.squidType5 {
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
}

.squidType6 {
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
}

.squidType7 {
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
}

.squidType8 {
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
}

.squidType9 {
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
}

.squidType10 {
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
}
  /* -------------------------------------- */


.content {
    grid-area: content;
    height: auto;
    width: 100vw;
    background-color: #ffffff;
    padding-bottom: 30px;
}




.newsLetter {
    grid-area: newsLetter;
    height: auto;
    width: 100vw;
    background-color: rgb(4, 122, 219);
    padding-top: 30px;
}

/* ----------------------------form---------------------------- */
.container {
    display: flex;
    padding-top: 40px;
    padding: 20px;
    background-color: #f1f1f1;
    justify-content: center;
    flex-wrap:wrap;
  }


 .form {
    border: 3px solid #f1f1f1;
    font-family: Arial;
  }
  
  
  input[type=text], input[type=submit] {
    width: 25%;
    padding: 12px;
    margin: 8px 0;
    display: flex;
    border: 1px solid #ccc;
    box-sizing: border-box;
    flex-wrap:wrap;
    font-size: 18px;
  }
  
  .container h2 {
      font-size: 18px;
  }

  .container h3 {
    height: auto;
    width: 75%;
  }

  .container input[type=submit] {
    background-color: #4CAF50;
    color: white;
    border: none;
    justify-content: center;
    width: 180px;
    transition: 0.6s ease-in-out;
  }
  
  input[type=submit]:hover {
    opacity: 0.8;
    background-color: rgb(4, 122, 219);
    cursor: pointer;
  }
/* ------------------------------------------ */

.marketList {
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    text-align: center;
    width: 100%;
    height: auto;
    position: relative;
    justify-content: center;
    padding-bottom: 20px;
}

.olleft {
    padding: 10px;
    flex: 50%;
}

.olright{
    padding: 10px;
    flex: 50%;
}

.marketList ol li {
    line-height: 1.6;
}